.background{
  width: 400px;
  margin: 0 auto;
  border: 1px solid black;
  background: #ffffff;
}

table{
  width: 100%;
  border-collapse: collapse;
  
}

.header{
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(87, 182, 241);
}

td{
  padding: 10px 0;
}

