body{
    text-align: center;
}

table{
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

.section-header{
    background-color: #CCCCCC;
}

h3{
    margin-left: 20px;
}

form{
    border: #666 solid 1px;
    width: 48%;
    margin: 0 auto;
    border-radius: 5px;
}

button{
    width: auto;
    height: auto;
}

select{
    width: 100%;
    height: 30px;
}