body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table td {
    width: 25%;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
}

.product-table img {
    width: 100%;
    height: 180px;
    /* Kích thước đối tượng */
    object-fit: contain; 
}

.name {
    font-size: 14px;
    margin: 10px 0;
}

.price {
    color: red;
    font-weight: bold;
}

.note {
    font-size: 12px;
    color: #555;
}
