h1{
    text-align: center;
    color: black;
}

table{
    width: 5;
    margin: auto;
    border-collapse: collapse;
    border: 2px solid black;
    width: 30%;
}

th, td {
    border: 2px solid purple;
    padding: 8px;
    text-align: center;
}

content{
    text-align: left
}

.header {
            background-color: #6dcc6d;
            font-weight: bold;
}

.footer {
            background-color: #6dcc6d;
            font-weight: bold;
}