.background{
  width: 620px;
  margin: 0 auto;
  border: 1px solid #cfcfcf;
  background: #f6f6f6;
}

table{
  width: 100%;
  border-collapse: collapse;
}

td{
  padding: 8px 10px;
  vertical-align: top;
}

.title{
  text-align: center;
  font-weight: bold;
  color: #6a3cc9;     
  padding: 10px 0;
  font-size: 18px;
}

.label{
  width: 200px;
  text-align: left;
  padding-left: 40px; 
  white-space: nowrap;
}

.txt{
  width: 150px;     
  height: 25px;
  padding: 2px 4px;
  border: 1px solid #9bb6d6;
  background: #fff;
}

.area{
    width: 300px;
    height: 100px;
}

