.page{
    width: 520px;
    margin: 0 auto;
    border: 3px solid #333;
    padding: 14px;
}

header{
  height: 90px;
  border: 2px solid #333;
  background: #b8cf6a;     
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 14px;
}

.content{
  display: flex;
  gap: 14px;
  margin-bottom: 14px;
}

nav{
  width: 140px;
  height: 360px;
  border: 2px solid #333;
  background: #8f8f8f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: bold;
}

main{
  flex: 1;
  height: 330px;
  border: 2px solid #333;
  background: #f3f3f3;
  padding: 14px;
  font-size: 26px;
  font-weight: bold;
}

article{
  height: 110px;
  border: 2px solid #333;
  background: #d8d8d8;
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

footer{
  height: 70px;
  border: 2px solid #333;
  background: #c8894b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
}