body{
  margin: 0;
  background-image: url("images/images.jpg");
  background-repeat: no-repeat;     /* không lặp */
  background-size: cover;           /* phủ kín màn hình */
}

h1{
    color: red;
}

table{
    margin: auto;
}

label{
    text-align: center;
    color: blue;
    font-weight: bold;
}

.lable{
    text-align: left;
}

p{
    color: red;
    font-weight: bold;
}
