body {
    font-family: Arial;
    background-color: #e60000;
}

.title{
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.container {
    width: 800px;
    margin: 40px auto;
    background-color: white;
    padding: 30px 40px;
    box-sizing: border-box;
}

.website{
    color:#e60000;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
}

.step{
    color:red;
    font-size: 20px;
    text-align: left;
    font-weight: bold; 
}

.buton{
    display: inline-block;
    padding: 8px 16px;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.buton1{
    display: inline-block;
    padding: 8px 16px;
    color: red;
    font-size: 10px;
    font-weight: bold;
}

.buton-red {
    background-color: #e60000;
}

.buton-green {
    background-color: #00a651;
}

.buton-border-red{
    border: 2px solid #e60000;
}

.search-bar {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.list {
    background-color: gray;
    color: white;
    padding: 8px 16px;
    font-size: 10px;
    border-radius: 4px;
}

.search-box {
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.search-box input {
    border: none;
    padding: 8px 16px;
    font-size: 10px;
    width: 200px;
}

.search-buton {
    background-color: #e60000;
    color: white;
    border: none;
    padding: 8px 16px;
}
